<div class="container" >
  {{dashboard-navbar}}    
  <header style="margin-top:60px; background-color:#fafafa; margin-bottom:100px;">
    <div>
      
      <div class="cont50">
      	<div style="padding:12px; margin:0px; border-bottom:1px solid #cccccc;">My Content</div>
      	<div>
          {{dash-news news-property=model.news addNewAction='addNewNews' addDeleteAction="deleteNews"}}
          {{dash-docs docs-property=model.documents addNewAction='addNewDoc'}}
      	</div>
      </div>
      
      <div class="cont50" style="vertical-align: top;">
        <div class="col-lg-6" style="background-color:white;">
          {{dash-contacts contacts-property=model.contacts addNewAction='addNewContact'}}
        </div>
        <div class="col-lg-6" style="background-color:white;">
          {{dash-rosters rosters-property=model.rosters addNewAction="addNewRoster" addDeleteAction='deleteRoster'}}
        </div>
        {{dash-forms forms-property=model.forms addNewAction='addNewForm' addDeleteAction="deleteForm"}}
  		</div>

		</div>
	</header>
  {{dashboard-footer}}
</div>

